<div [@routerTransition]>
    <app-page-header [heading]="'Food Types Form'" [icon]="'fa-form'"></app-page-header>
    <div class="row">
        <div class="col-md-8">
            <form #f="ngForm" (ngSubmit)="save(f.value)" style="width: 750px;">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <div class="col-xs-10">
                            <input #name="ngModel" [(ngModel)]="foodtype.name" name="name" id="name" type="text" class="form-control" required>
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                Food Name is required!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row col-md-6">
                    <div class="col-auto form-group col-md-6">
                        <label>Is this a main menu item?</label>
                        <div class="radio">
                            <label>
                                <input  type="radio" name="isMainMenu" #isMainMenu="ngModel" id="isMainMenu1" [(ngModel)]="foodtype.isMainMenu" [value]="true" checked="">Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input  type="radio" name="isMainMenu" #isMainMenu="ngModel" id="isMainMenu2" [(ngModel)]="foodtype.isMainMenu" [value]="false">No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12" *ngIf="foodtype.isMainMenu">
                        <label for="imageUrl">Image URL</label>
                        <input #imageUrl="ngModel" [(ngModel)]="foodtype.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control"
                            required url>
                        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                            <div *ngIf="imageUrl.errors.required">Image URL is required!</div>
                            <div *ngIf="imageUrl.errors.url">URL is invalid!</div>
                        </div>
                    </div>
                </div>


                <div class="form-row col-md-6">
                    <div class="col-auto form-group col-md-6">
                        <label>Is this a special item?</label>

                        <div class="radio">
                            <label>
                                <input type="radio" #isSpecial="ngModel" [(ngModel)]="foodtype.isSpecial" name="isSpecial" id="isSpecial1" [value]="true" checked="">Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" #isSpecial="ngModel" [(ngModel)]="foodtype.isSpecial" name="isSpecial" id="isSpecial2" [value]="false">No
                            </label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-outline-primary form-group col-md-3" [disabled]="!f.valid">Submit</button>


            </form>

        </div>
        <div class="col-md-4">
            <div *ngIf="foodtype.name" class="card" style="width: 20rem;">
                <img class="card-img-top" [src]="foodtype.imageUrl" *ngIf="foodtype.imageUrl">
                <div class="card-body">
                    <h4 class="card-title">{{ foodtype.name }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
