<div [@routerTransition]>
  <app-page-header [heading]="'User Level View'" [icon]="'fa fa-eye'"></app-page-header>

<div style="margin: auto; max-width: 1500px; margin-bottom: 50px;">





      <!-- <p>
        <a routerLink="/user-levels-form" class="btn btn-primary">Add New UserLevel</a>
      </p> -->
      <p>
        <input
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="Search...">
      </p>

      <data-table  id="persons-grid"
        headerTitle="User Levels"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

      >



      <data-table-column
        [property]="'userlevelname'"
        [header]="'User Level Name'"
        [sortable]="true"
        [resizable]="true"
      >
      </data-table-column>


      <data-table-column
        [property]="'$key'"
      >
      <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/user-levels-form/', item.$key]">Edit</a>
      </ng-template>
      </data-table-column>


      </data-table>


      </div>



