


<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)" style="width: 750px;">

          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="componentName">Component Name</label>
            <input #componentName="ngModel" [(ngModel)]="component.componentName" name="componentName" id="componentName" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="componentName.touched && componentName.invalid">
              Component name is required!
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="url">URL</label>
            <input #url="ngModel" [(ngModel)]="component.url" name="url" id="url" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="url.touched && url.invalid">
              url is required!
            </div>
          </div>
        </div>



        <div class="form-row">
            <div class="col-auto form-group col-md-6">
              <label for="isActive">Is Active</label>

              <div class="radio">
                <label>
                    <input type="radio" #isActive="ngModel" [(ngModel)]="component.isActive"  name="isActive" id="isActive1" value="true">Active
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" #isActive="ngModel" [(ngModel)]="component.isActive"  name="isActive" id="isActive2" value="false">Inactive
                </label>
            </div>


            </div>
          </div>


        <button class="btn btn-outline-primary form-group col-md-3" [disabled]="!f.valid">Submit</button>
        </form>
  </div>

</div>
