


<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)" style="width: 750px;">

          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="componentName">Component Name</label>
            <input #componentName="ngModel" [(ngModel)]="component.componentName" name="componentName" id="componentName" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="componentName.touched && componentName.invalid">
              Component name is required!
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="url">URL</label>
            <input #url="ngModel" [(ngModel)]="component.url" name="url" id="url" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="url.touched && url.invalid">
              url is required!
            </div>
          </div>
        </div>



        <div class="form-row">
            <div class="col-auto form-group col-md-6">
              <label for="isActive">Is Active</label>
              <br>
              <label class="custom-control custom-radio active">
                <input id="isActive1" name="isActive" #active="ngModel" [(ngModel)]="component.isActive" type="radio" class="custom-control-input"
                  [value]="true" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">True</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="isActive0" name="isActive" #active="ngModel" [(ngModel)]="component.isActive" type="radio" class="custom-control-input"
                  [value]="false" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">False</span>
              </label>
            </div>
          </div>


        <button class="btn btn-outline-primary form-group col-md-3" [disabled]="!f.valid">Submit</button>
        </form>
  </div>

</div>
